.dialog-content{
	display: none;
	z-index: 999;	
	width: 265px;
	height: 100px;
	/*position: absolute;*/
	position: fixed;
	top: 50px;
	left: 43%;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 4px;
    border-left: 5px solid #2BDE3F;
    padding: 20px 20px 20px 15px;
}
.dialog-content .tip_cont{
	width:220px;
	height:60px;
}
.dialog-content .tip_cont div{
	height: 60px;
	float: left;
}
.dialog-content .tip_cont .tip_icon{
	width: 68px;
}
.tip_icon .iconfont{
	display: inline-block;
	width: 40px;
	height: 60px;
	line-height: 60px;
	margin-left: 9px;
	font-size: 36px;	
}

.tip_cont .icontishichenggong{
	color: #2BDE3F;
}
.tip_cont .iconcaozuoshibai{
	color: #EE2C2C;
}
.dialog-content .tip_cont .tip_text{
	width: 152px;
	vertical-align: middle;
	line-height: 60px;
	font-size: 22px;
    color: #3e3e3e;
    font-weight: 700;    
}