
/*版权说明*/
.footer{
	font-size: 15px;
    line-height: 2;
    width: 100%;
    margin: 23px 0;
    text-align: center;
    color: #fff;
}
.footer>div{
    display: inline-block;
    margin: 0 auto;
}
.footer a {
    margin: 0 2px;
}
.btn-link, .btn-link a {
    padding: 0;
    color: #e35004;
    /*color: #fff;*/
    border: none;
    border-radius: 0;
}
.btn-link, .btn-link a {
    color: #e35004;
   /*color: #fff;*/
}
.footer a.beiang{
	color: #fff;
}
